.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 3s;
    min-height: 80vh;
    // margin-top: 3.5rem;

    >h1 {
        background-color: rgba($color: #000000, $alpha: 0.3);
        padding: 0.5rem;
        font-family: "Roboto";
    }

    >div {
        padding: 3rem 0rem;
        display: flex;
        margin: auto;

        .imgdiv {
            display: flex;
            width: 40%;

            >img {
                width: 100%;
                margin: 0rem auto;
            }
        }

        .headingdiv {
            display: flex;
            flex-direction: column;
            max-width: 60%;
            

            >h2 {
                padding: 1rem;
                word-spacing: 0.5rem;
                font-size: x-larger;
                font-family: "Roboto";
                
                >span {
                    color: skyblue;
                }
            }
            
            >p {
                margin-bottom: auto;
                font-family: "Roboto";
                line-height: 180%;
                word-spacing: 0.2rem;

            }
        }
    }

}


@media screen and (max-width:500px) {
    .about{
        margin: 0rem;
        padding: 0rem;
        div{
            line-height: 100%;
            word-spacing: 0%;
        }
        
        

        .headingdiv{
            height: 25rem;
            font-size: small;
            width: 20rem;

            .aboutpara{
                font-family: sans-serif;
                line-height: 140%;
                word-spacing: 0rem;
                font-size: smaller;
            }
        }

        img{
            height: 11rem;
            margin: auto;
            width: 15rem;
        }
    }
}